In [1]:
import pandas as pd
data=pd.read_csv(r"C:\Users\madha\Downloads\NewspaperData.csv")
data.head()

            Newspaper    daily   sunday
0       Baltimore Sun  391.952  488.506
1        Boston Globe  516.981  798.298
2       Boston Herald  355.628  235.084
3  Charlotte Observer  238.555  299.451
4   Chicago Sun Times  537.780  559.093

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Newspaper  34 non-null     object
 1   daily      34 non-null     float64
 2   sunday     34 non-null     float64
dtypes: float64(2), object(1)
memory usage: 948.0+ bytes

In [3]:
data.sample()

                 Newspaper   daily   sunday
31  St. Paul Pioneer Press  201.86  267.781

In [4]:
data.tail()

                  Newspaper    daily    sunday
29  San Francisco Chronicle  570.364   704.322
30  St. Louis Post-Dispatch  391.286   585.681
31   St. Paul Pioneer Press  201.860   267.781
32            Tampa Tribune  321.626   408.343
33          Washington Post  838.902  1165.567

In [6]:
data.shape

(34, 3)

In [7]:
data.drop('Newapaper',axis=1).corr()

KeyError: "['Newapaper'] not found in axis"