In [22]:
import pandas as pd
import numpy as np

In [23]:
movies_df=pd.read_csv(r"C:\Users\madha\Downloads\Movie.csv")

In [24]:
movies_df

      userId             movie  rating
0          3  Toy Story (1995)     4.0
1          6  Toy Story (1995)     5.0
2          8  Toy Story (1995)     4.0
3         10  Toy Story (1995)     4.0
4         11  Toy Story (1995)     4.5
...      ...               ...     ...
8987    7087  GoldenEye (1995)     3.0
8988    7088  GoldenEye (1995)     1.0
8989    7105  GoldenEye (1995)     2.0
8990    7113  GoldenEye (1995)     3.0
8991    7117  GoldenEye (1995)     3.0

[8992 rows x 3 columns]

In [27]:
movies_df[movies_df['userId'] == 11]

      userId             movie  rating
4         11  Toy Story (1995)     4.5
7446      11  GoldenEye (1995)     2.5

In [25]:
len(movies_df['userId'].unique())

4081

In [26]:
len(movies_df['movie'].unique())

10

In [28]:
um=m0.pivot(index='userId',columns='movie',values='rating').reset_index(drop=True)

NameError: name 'm' is not defined