In [2]:
pip install mlxtend

Defaulting to user installation because normal site-packages is not writeable
Collecting mlxtend
  Downloading mlxtend-0.23.4-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.2.1 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.5.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (3.9.2)
Requirement already satisfied: joblib>=0.13.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (24.1)
Requirement already satisfied: pillow>=8 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Downloading mlxtend-0.23.4-py3-none-any.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ------- -------------------------------- 0.3/1.4 MB ? eta -:--:--
   ------- -------------------------------- 0.3/1.4 MB ? eta -:--:--
   ------- -------------------------------- 0.3/1.4 MB ? eta -:--:--
   ------- -------------------------------- 0.3/1.4 MB ? eta -:--:--
   ------- -------------------------------- 0.3/1.4 MB ? eta -:--:--
   ------- -------------------------------- 0.3/1.4 MB ? eta -:--:--
   ------- -------------------------------- 0.3/1.4 MB ? eta -:--:--
   ------- -------------------------------- 0.3/1.4 MB ? eta -:--:--
   ------- -------------------------------- 0.3/1.4 MB ? eta -:--:--
   ------- -------------------------------- 0.3/1.4 MB ? eta -:--:--
   --------------- ------------------------ 0.5/1.4 MB 125.2 kB/s eta 0:00:07
   --------------- ------------------------ 0.5/1.4 MB 125.2 kB/s eta 0:00:07
   ----------------------- ---------------- 0.8/1.4 MB 216.5 kB/s eta 0:00:03
   ----------------------- ---------------- 0.8/1.4 MB 216.5 kB/s eta 0:00:03
   ----------------------- ---------------- 0.8/1.4 MB 216.5 kB/s eta 0:00:03
   ------------------------------- -------- 1.0/1.4 MB 258.1 kB/s eta 0:00:02
   ------------------------------- -------- 1.0/1.4 MB 258.1 kB/s eta 0:00:02
   ------------------------------- -------- 1.0/1.4 MB 258.1 kB/s eta 0:00:02
   ------------------------------- -------- 1.0/1.4 MB 258.1 kB/s eta 0:00:02
   ---------------------------------------- 1.4/1.4 MB 275.8 kB/s eta 0:00:00
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.4
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
import warnings
warnings.filterwarnings('ignore')
data = {'Milk': [1, 0, 1, 1, 0, 1],
        'Bread': [1, 1, 1, 0, 1, 1],
        'Butter': [0, 1, 1, 1, 1, 1],
        'Cheese': [1, 1, 0, 1, 0, 1]}
df = pd.DataFrame(data)
frequent_itemsets = apriori(df, min_support=0.5, use_colnames=True)
print("Frequent Itemsets:")
print(frequent_itemsets)
rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.7)
print("\nAssociation Rules:")
print(rules)

Frequent Itemsets:
    support          itemsets
0  0.666667            (Milk)
1  0.833333           (Bread)
2  0.833333          (Butter)
3  0.666667          (Cheese)
4  0.500000     (Bread, Milk)
5  0.500000    (Milk, Butter)
6  0.500000    (Cheese, Milk)
7  0.666667   (Bread, Butter)
8  0.500000   (Cheese, Bread)
9  0.500000  (Cheese, Butter)

Association Rules:
  antecedents consequents  antecedent support  consequent support   support  \
0      (Milk)     (Bread)            0.666667            0.833333  0.500000
1      (Milk)    (Butter)            0.666667            0.833333  0.500000
2    (Cheese)      (Milk)            0.666667            0.666667  0.500000
3      (Milk)    (Cheese)            0.666667            0.666667  0.500000
4     (Bread)    (Butter)            0.833333            0.833333  0.666667
5    (Butter)     (Bread)            0.833333            0.833333  0.666667
6    (Cheese)     (Bread)            0.666667            0.833333  0.500000
7    (Cheese)    (Butter)            0.666667            0.833333  0.500000

   confidence   lift  representativity  leverage  conviction  zhangs_metric  \
0        0.75  0.900               1.0 -0.055556    0.666667      -0.250000
1        0.75  0.900               1.0 -0.055556    0.666667      -0.250000
2        0.75  1.125               1.0  0.055556    1.333333       0.333333
3        0.75  1.125               1.0  0.055556    1.333333       0.333333
4        0.80  0.960               1.0 -0.027778    0.833333      -0.200000
5        0.80  0.960               1.0 -0.027778    0.833333      -0.200000
6        0.75  0.900               1.0 -0.055556    0.666667      -0.250000
7        0.75  0.900               1.0 -0.055556    0.666667      -0.250000

    jaccard  certainty  kulczynski
0  0.500000      -0.50       0.675
1  0.500000      -0.50       0.675
2  0.600000       0.25       0.750
3  0.600000       0.25       0.750
4  0.666667      -0.20       0.800
5  0.666667      -0.20       0.800
6  0.500000      -0.50       0.675
7  0.500000      -0.50       0.675

In [8]:
titanic=pd.read_csv(r"C:\Users\madha\Downloads\Titanictv.csv")
titanic.head()

  Class Gender    Age Survived
0   3rd   Male  Child       No
1   3rd   Male  Child       No
2   3rd   Male  Child       No
3   3rd   Male  Child       No
4   3rd   Male  Child       No

In [9]:
titanic.tail()

     Class  Gender    Age Survived
2196  Crew  Female  Adult      Yes
2197  Crew  Female  Adult      Yes
2198  Crew  Female  Adult      Yes
2199  Crew  Female  Adult      Yes
2200  Crew  Female  Adult      Yes

In [10]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2201 entries, 0 to 2200
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Class     2201 non-null   object
 1   Gender    2201 non-null   object
 2   Age       2201 non-null   object
 3   Survived  2201 non-null   object
dtypes: object(4)
memory usage: 68.9+ KB

In [11]:
titanic.shape

(2201, 4)

In [14]:
titanic['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [16]:
titanic['Class'].unique()

array(['3rd', '1st', '2nd', 'Crew'], dtype=object)

In [17]:
titanic['Age'].unique()

array(['Child', 'Adult'], dtype=object)

In [18]:
titanic['Survived'].unique()

array(['No', 'Yes'], dtype=object)

In [19]:
titanic.isnull().sum()

Class       0
Gender      0
Age         0
Survived    0
dtype: int64

In [39]:
fi=apriori(df,min_support=0.1,use_colnames=True)
fi

     support                       itemsets
0   0.666667                         (Milk)
1   0.833333                        (Bread)
2   0.833333                       (Butter)
3   0.666667                       (Cheese)
4   0.500000                  (Bread, Milk)
5   0.500000                 (Milk, Butter)
6   0.500000                 (Cheese, Milk)
7   0.666667                (Bread, Butter)
8   0.500000                (Cheese, Bread)
9   0.500000               (Cheese, Butter)
10  0.333333          (Bread, Milk, Butter)
11  0.333333          (Cheese, Bread, Milk)
12  0.333333         (Cheese, Milk, Butter)
13  0.333333        (Cheese, Bread, Butter)
14  0.166667  (Cheese, Bread, Milk, Butter)

In [45]:
rules = association_rules(fi, metric="lift", min_threshold=0.2)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Bread),(Milk),0.833333,0.666667,0.500000,0.600000,0.900000,1.0,-0.055556,0.833333,-0.400000,0.500000,-0.200000,0.675000
1,(Milk),(Bread),0.666667,0.833333,0.500000,0.750000,0.900000,1.0,-0.055556,0.666667,-0.250000,0.500000,-0.500000,0.675000
2,(Milk),(Butter),0.666667,0.833333,0.500000,0.750000,0.900000,1.0,-0.055556,0.666667,-0.250000,0.500000,-0.500000,0.675000
3,(Butter),(Milk),0.833333,0.666667,0.500000,0.600000,0.900000,1.0,-0.055556,0.833333,-0.400000,0.500000,-0.200000,0.675000
4,(Cheese),(Milk),0.666667,0.666667,0.500000,0.750000,1.125000,1.0,0.055556,1.333333,0.333333,0.600000,0.250000,0.750000
5,(Milk),(Cheese),0.666667,0.666667,0.500000,0.750000,1.125000,1.0,0.055556,1.333333,0.333333,0.600000,0.250000,0.750000
6,(Bread),(Butter),0.833333,0.833333,0.666667,0.800000,0.960000,1.0,-0.027778,0.833333,-0.200000,0.666667,-0.200000,0.800000
7,(Butter),(Bread),0.833333,0.833333,0.666667,0.800000,0.960000,1.0,-0.027778,0.833333,-0.200000,0.666667,-0.200000,0.800000
8,(Cheese),(Bread),0.666667,0.833333,0.500000,0.750000,0.900000,1.0,-0.055556,0.666667,-0.250000,0.500000,-0.500000,0.675000
9,(Bread),(Cheese),0.833333,0.666667,0.500000,0.600000,0.900000,1.0,-0.055556,0.833333,-0.400000,0.500000,-0.200000,0.675000
10,(Cheese),(Butter),0.666667,0.833333,0.500000,0.750000,0.900000,1.0,-0.055556,0.666667,-0.250000,0.500000,-0.500000,0.675000
11,(Butter),(Cheese),0.833333,0.666667,0.500000,0.600000,0.900000,1.0,-0.055556,0.833333,-0.400000,0.500000,-0.200000,0.675000
12,"(Bread, Milk)",(Butter),0.500000,0.833333,0.333333,0.666667,0.800000,1.0,-0.083333,0.500000,-0.333333,0.333333,-1.000000,0.533333
13,"(Bread, Butter)",(Milk),0.666667,0.666667,0.333333,0.500000,0.750000,1.0,-0.111111,0.666667,-0.500000,0.333333,-0.500000,0.500000
14,"(Milk, Butter)",(Bread),0.500000,0.833333,0.333333,0.666667,0.800000,1.0,-0.083333,0.500000,-0.333333,0.333333,-1.000000,0.533333
15,(Bread),"(Milk, Butter)",0.833333,0.500000,0.333333,0.400000,0.800000,1.0,-0.083333,0.833333,-0.600000,0.333333,-0.200000,0.533333
16,(Milk),"(Bread, Butter)",0.666667,0.666667,0.333333,0.500000,0.750000,1.0,-0.111111,0.666667,-0.500000,0.333333,-0.500000,0.500000
17,(Butter),"(Bread, Milk)",0.833333,0.500000,0.333333,0.400000,0.800000,1.0,-0.083333,0.833333,-0.600000,0.333333,-0.200000,0.533333
18,"(Cheese, Bread)",(Milk),0.500000,0.666667,0.333333,0.666667,1.000000,1.0,0.000000,1.000000,0.000000,0.400000,0.000000,0.583333
19,"(Cheese, Milk)",(Bread),0.500000,0.833333,0.333333,0.666667,0.800000,1.0,-0.083333,0.500000,-0.333333,0.333333,-1.000000,0.533333
20,"(Bread, Milk)",(Cheese),0.500000,0.666667,0.333333,0.666667,1.000000,1.0,0.000000,1.000000,0.000000,0.400000,0.000000,0.583333
21,(Cheese),"(Bread, Milk)",0.666667,0.500000,0.333333,0.500000,1.000000,1.0,0.000000,1.000000,0.000000,0.400000,0.000000,0.583333
22,(Bread),"(Cheese, Milk)",0.833333,0.500000,0.333333,0.400000,0.800000,1.0,-0.083333,0.833333,-0.600000,0.333333,-0.200000,0.533333
23,(Milk),"(Cheese, Bread)",0.666667,0.500000,0.333333,0.500000,1.000000,1.0,0.000000,1.000000,0.000000,0.400000,0.000000,0.583333
24,"(Cheese, Milk)",(Butter),0.500000,0.833333,0.333333,0.666667,0.800000,1.0,-0.083333,0.500000,-0.333333,0.333333,-1.000000,0.533333
25,"(Cheese, Butter)",(Milk),0.500000,0.666667,0.333333,0.666667,1.000000,1.0,0.000000,1.000000,0.000000,0.400000,0.000000,0.583333
26,"(Milk, Butter)",(Cheese),0.500000,0.666667,0.333333,0.666667,1.000000,1.0,0.000000,1.000000,0.000000,0.400000,0.000000,0.583333
27,(Cheese),"(Milk, Butter)",0.666667,0.500000,0.333333,0.500000,1.000000,1.0,0.000000,1.000000,0.000000,0.400000,0.000000,0.583333
28,(Milk),"(Cheese, Butter)",0.666667,0.500000,0.333333,0.500000,1.000000,1.0,0.000000,1.000000,0.000000,0.400000,0.000000,0.583333
29,(Butter),"(Cheese, Milk)",0.833333,0.500000,0.333333,0.400000,0.800000,1.0,-0.083333,0.833333,-0.600000,0.333333,-0.200000,0.533333
30,"(Cheese, Bread)",(Butter),0.500000,0.833333,0.333333,0.666667,0.800000,1.0,-0.083333,0.500000,-0.333333,0.333333,-1.000000,0.533333
31,"(Cheese, Butter)",(Bread),0.500000,0.833333,0.333333,0.666667,0.800000,1.0,-0.083333,0.500000,-0.333333,0.333333,-1.000000,0.533333
32,"(Bread, Butter)",(Cheese),0.666667,0.666667,0.333333,0.500000,0.750000,1.0,-0.111111,0.666667,-0.500000,0.333333,-0.500000,0.500000
33,(Cheese),"(Bread, Butter)",0.666667,0.666667,0.333333,0.500000,0.750000,1.0,-0.111111,0.666667,-0.500000,0.333333,-0.500000,0.500000
34,(Bread),"(Cheese, Butter)",0.833333,0.500000,0.333333,0.400000,0.800000,1.0,-0.083333,0.833333,-0.600000,0.333333,-0.200000,0.533333
35,(Butter),"(Cheese, Bread)",0.833333,0.500000,0.333333,0.400000,0.800000,1.0,-0.083333,0.833333,-0.600000,0.333333,-0.200000,0.533333
36,"(Cheese, Bread, Milk)",(Butter),0.333333,0.833333,0.166667,0.500000,0.600000,1.0,-0.111111,0.333333,-0.500000,0.166667,-2.000000,0.350000
37,"(Cheese, Bread, Butter)",(Milk),0.333333,0.666667,0.166667,0.500000,0.750000,1.0,-0.055556,0.666667,-0.333333,0.200000,-0.500000,0.375000
38,"(Cheese, Milk, Butter)",(Bread),0.333333,0.833333,0.166667,0.500000,0.600000,1.0,-0.111111,0.333333,-0.500000,0.166667,-2.000000,0.350000
39,"(Bread, Milk, Butter)",(Cheese),0.333333,0.666667,0.166667,0.500000,0.750000,1.0,-0.055556,0.666667,-0.333333,0.200000,-0.500000,0.375000
40,"(Cheese, Bread)","(Milk, Butter)",0.500000,0.500000,0.166667,0.333333,0.666667,1.0,-0.083333,0.750000,-0.500000,0.200000,-0.333333,0.333333
41,"(Cheese, Milk)","(Bread, Butter)",0.500000,0.666667,0.166667,0.333333,0.500000,1.0,-0.166667,0.500000,-0.666667,0.166667,-1.000000,0.291667
42,"(Cheese, Butter)","(Bread, Milk)",0.500000,0.500000,0.166667,0.333333,0.666667,1.0,-0.083333,0.750000,-0.500000,0.200000,-0.333333,0.333333
43,"(Bread, Milk)","(Cheese, Butter)",0.500000,0.500000,0.166667,0.333333,0.666667,1.0,-0.083333,0.750000,-0.500000,0.200000,-0.333333,0.333333
44,"(Bread, Butter)","(Cheese, Milk)",0.666667,0.500000,0.166667,0.250000,0.500000,1.0,-0.166667,0.666667,-0.750000,0.166667,-0.500000,0.291667
45,"(Milk, Butter)","(Cheese, Bread)",0.500000,0.500000,0.166667,0.333333,0.666667,1.0,-0.083333,0.750000,-0.500000,0.200000,-0.333333,0.333333
46,(Cheese),"(Bread, Milk, Butter)",0.666667,0.333333,0.166667,0.250000,0.750000,1.0,-0.055556,0.888889,-0.500000,0.200000,-0.125000,0.375000
47,(Bread),"(Cheese, Milk, Butter)",0.833333,0.333333,0.166667,0.200000,0.600000,1.0,-0.111111,0.833333,-0.800000,0.166667,-0.200000,0.350000
48,(Milk),"(Cheese, Bread, Butter)",0.666667,0.333333,0.166667,0.250000,0.750000,1.0,-0.055556,0.888889,-0.500000,0.200000,-0.125000,0.375000
49,(Butter),"(Cheese, Bread, Milk)",0.833333,0.333333,0.166667,0.200000,0.600000,1.0,-0.111111,0.833333,-0.800000,0.166667,-0.200000,0.350000